<p id="notice"><%= notice %></p>

<p>
  <strong>All:</strong>
  <%= @addh.all %>
</p>

<p>
  <strong>Value:</strong>
  <%= @addh.value %>
</p>

<p>
  <strong>Fill1:</strong>
  <%= @addh.fill1 %>
</p>

<p>
  <strong>Fill2:</strong>
  <%= @addh.fill2 %>
</p>

<p>
  <strong>Oka:</strong>
  <%= @addh.oka %>
</p>

<p>
  <strong>Okb:</strong>
  <%= @addh.okb %>
</p>

<p>
  <strong>Okc:</strong>
  <%= @addh.okc %>
</p>

<p>
  <strong>Okd:</strong>
  <%= @addh.okd %>
</p>

<p>
  <strong>Fulldoc:</strong>
  <%= @addh.fulldoc_id %>
</p>

<p>
  <strong>Singlepart:</strong>
  <%= @addh.singlepart_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @addh.description_id %>
</p>

<p>
  <strong>Hnmr:</strong>
  <%= @addh.hnmr_id %>
</p>

<p>
  <strong>Nmrdetailh:</strong>
  <%= @addh.nmrdetailh_id %>
</p>

<p>
  <strong>Relation:</strong>
  <%= @addh.relation_id %>
</p>

<%= link_to 'Edit', edit_addh_path(@addh) %> |
<%= link_to 'Back', addhs_path %>
