<p id="notice"><%= notice %></p>

<p>
  <strong>Raman:</strong>
  <%= @additional.raman %>
</p>

<p>
  <strong>Hrms:</strong>
  <%= @additional.hrms %>
</p>

<p>
  <strong>Uv:</strong>
  <%= @additional.uv %>
</p>

<p>
  <strong>Fnmr:</strong>
  <%= @additional.fnmr %>
</p>

<p>
  <strong>Pnmr:</strong>
  <%= @additional.pnmr %>
</p>

<p>
  <strong>Bnmr:</strong>
  <%= @additional.bnmr %>
</p>

<p>
  <strong>Nnmr:</strong>
  <%= @additional.nnmr %>
</p>

<p>
  <strong>Mass1:</strong>
  <%= @additional.mass1 %>
</p>

<p>
  <strong>Mass3:</strong>
  <%= @additional.mass3 %>
</p>

<p>
  <strong>Buffer1:</strong>
  <%= @additional.buffer1 %>
</p>

<p>
  <strong>Buffer2:</strong>
  <%= @additional.buffer2 %>
</p>

<p>
  <strong>Buffer3:</strong>
  <%= @additional.buffer3 %>
</p>

<p>
  <strong>Oka:</strong>
  <%= @additional.oka %>
</p>

<p>
  <strong>Okb:</strong>
  <%= @additional.okb %>
</p>

<p>
  <strong>Singlepart:</strong>
  <%= @additional.singlepart_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @additional.description_id %>
</p>

<p>
  <strong>Fulldoc:</strong>
  <%= @additional.fulldoc_id %>
</p>

<%= link_to 'Edit', edit_additional_path(@additional) %> |
<%= link_to 'Back', additionals_path %>
