<p id="notice"><%= notice %></p>

<p>
  <strong>Multiplet:</strong>
  <%= @relation.multiplet %>
</p>

<p>
  <strong>Givej:</strong>
  <%= @relation.givej %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @relation.distance %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @relation.detail %>
</p>

<p>
  <strong>Fill1:</strong>
  <%= @relation.fill1 %>
</p>

<p>
  <strong>Hz:</strong>
  <%= @relation.hz %>
</p>

<p>
  <strong>Oka:</strong>
  <%= @relation.oka %>
</p>

<p>
  <strong>Okb:</strong>
  <%= @relation.okb %>
</p>

<p>
  <strong>Fulldoc:</strong>
  <%= @relation.fulldoc_id %>
</p>

<p>
  <strong>Singlepart:</strong>
  <%= @relation.singlepart_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @relation.description_id %>
</p>

<p>
  <strong>Hnmr:</strong>
  <%= @relation.hnmr_id %>
</p>

<p>
  <strong>Nmrdetailh:</strong>
  <%= @relation.nmrdetailh_id %>
</p>

<%= link_to 'Edit', edit_relation_path(@relation) %> |
<%= link_to 'Back', relations_path %>
