<%= form_for(@sumh) do |f| %>
  <% if @sumh.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sumh.errors.count, "error") %> prohibited this sumh from being saved:</h2>

      <ul>
      <% @sumh.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :all %><br>
    <%= f.text_field :all %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.number_field :value %>
  </div>
  <div class="field">
    <%= f.label :fill1 %><br>
    <%= f.text_field :fill1 %>
  </div>
  <div class="field">
    <%= f.label :fill2 %><br>
    <%= f.text_field :fill2 %>
  </div>
  <div class="field">
    <%= f.label :oka %><br>
    <%= f.check_box :oka %>
  </div>
  <div class="field">
    <%= f.label :okb %><br>
    <%= f.check_box :okb %>
  </div>
  <div class="field">
    <%= f.label :okc %><br>
    <%= f.check_box :okc %>
  </div>
  <div class="field">
    <%= f.label :okd %><br>
    <%= f.check_box :okd %>
  </div>
  <div class="field">
    <%= f.label :fulldoc_id %><br>
    <%= f.text_field :fulldoc_id %>
  </div>
  <div class="field">
    <%= f.label :singlepart_id %><br>
    <%= f.text_field :singlepart_id %>
  </div>
  <div class="field">
    <%= f.label :description_id %><br>
    <%= f.text_field :description_id %>
  </div>
  <div class="field">
    <%= f.label :hnmr_id %><br>
    <%= f.text_field :hnmr_id %>
  </div>
  <div class="field">
    <%= f.label :nmrdetailh_id %><br>
    <%= f.text_field :nmrdetailh_id %>
  </div>
  <div class="field">
    <%= f.label :coupling_id %><br>
    <%= f.text_field :coupling_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
