<p id="notice"><%= notice %></p>

<p>
  <strong>All:</strong>
  <%= @sumh.all %>
</p>

<p>
  <strong>Value:</strong>
  <%= @sumh.value %>
</p>

<p>
  <strong>Fill1:</strong>
  <%= @sumh.fill1 %>
</p>

<p>
  <strong>Fill2:</strong>
  <%= @sumh.fill2 %>
</p>

<p>
  <strong>Oka:</strong>
  <%= @sumh.oka %>
</p>

<p>
  <strong>Okb:</strong>
  <%= @sumh.okb %>
</p>

<p>
  <strong>Okc:</strong>
  <%= @sumh.okc %>
</p>

<p>
  <strong>Okd:</strong>
  <%= @sumh.okd %>
</p>

<p>
  <strong>Fulldoc:</strong>
  <%= @sumh.fulldoc_id %>
</p>

<p>
  <strong>Singlepart:</strong>
  <%= @sumh.singlepart_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sumh.description_id %>
</p>

<p>
  <strong>Hnmr:</strong>
  <%= @sumh.hnmr_id %>
</p>

<p>
  <strong>Nmrdetailh:</strong>
  <%= @sumh.nmrdetailh_id %>
</p>

<p>
  <strong>Coupling:</strong>
  <%= @sumh.coupling_id %>
</p>

<%= link_to 'Edit', edit_sumh_path(@sumh) %> |
<%= link_to 'Back', sumhs_path %>
