<p id="notice"><%= notice %></p>

<p>
  <strong>Chemist:</strong>
  <%= @fulldoc.chemist %>
</p>

<p>
  <strong>Source:</strong>
  <%= @fulldoc.source %>
</p>

<p>
  <strong>Name:</strong>
  <%= @fulldoc.name %>
</p>

<p>
  <strong>Fulltext:</strong>
  <%= @fulldoc.fulltext %>
</p>

<p>
  <strong>Format:</strong>
  <%= @fulldoc.format %>
</p>

<p>
  <strong>Sumexp:</strong>
  <%= @fulldoc.sumexp %>
</p>

<p>
  <strong>Fill1:</strong>
  <%= @fulldoc.fill1 %>
</p>

<p>
  <strong>Fill2:</strong>
  <%= @fulldoc.fill2 %>
</p>

<p>
  <strong>Fill3:</strong>
  <%= @fulldoc.fill3 %>
</p>

<p>
  <strong>Oka:</strong>
  <%= @fulldoc.oka %>
</p>

<p>
  <strong>Okb:</strong>
  <%= @fulldoc.okb %>
</p>

<p>
  <strong>Okc:</strong>
  <%= @fulldoc.okc %>
</p>

<p>
  <strong>Okd:</strong>
  <%= @fulldoc.okd %>
</p>


<%= link_to 'Edit', edit_fulldoc_path(@fulldoc) %> |
<%= link_to 'Back', fulldocs_path %>
