<p id="notice"><%= notice %></p>

<p>
  <strong>Multiplet:</strong>
  <%= @coupling.multiplet %>
</p>

<p>
  <strong>Givej:</strong>
  <%= @coupling.givej %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @coupling.distance %>
</p>

<p>
  <strong>Hz:</strong>
  <%= @coupling.hz %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @coupling.detail %>
</p>

<p>
  <strong>Fill1:</strong>
  <%= @coupling.fill1 %>
</p>

<p>
  <strong>Oka:</strong>
  <%= @coupling.oka %>
</p>

<p>
  <strong>Okb:</strong>
  <%= @coupling.okb %>
</p>

<p>
  <strong>Fulldoc:</strong>
  <%= @coupling.fulldoc_id %>
</p>

<p>
  <strong>Singlepart:</strong>
  <%= @coupling.singlepart_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @coupling.description_id %>
</p>

<p>
  <strong>Hnmr:</strong>
  <%= @coupling.hnmr_id %>
</p>

<p>
  <strong>Nmrdetailh:</strong>
  <%= @coupling.nmrdetailh_id %>
</p>

<%= link_to 'Edit', edit_coupling_path(@coupling) %> |
<%= link_to 'Back', couplings_path %>
