<%= form_for(@description) do |f| %>
  <% if @description.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@description.errors.count, "error") %> prohibited this description from being saved:</h2>

      <ul>
      <% @description.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :samplename %><br>
    <%= f.text_field :samplename %>
  </div>
  <div class="field">
    <%= f.label :fulldescribe %><br>
    <%= f.text_field :fulldescribe %>
  </div>
  <div class="field">
    <%= f.label :purification %><br>
    <%= f.text_field :purification %>
  </div>
  <div class="field">
    <%= f.label :rfvalue %><br>
    <%= f.text_field :rfvalue %>
  </div>
  <div class="field">
    <%= f.label :yield %><br>
    <%= f.text_field :yield %>
  </div>
  <div class="field">
    <%= f.label :fill1 %><br>
    <%= f.text_field :fill1 %>
  </div>
  <div class="field">
    <%= f.label :fill2 %><br>
    <%= f.text_field :fill2 %>
  </div>
  <div class="field">
    <%= f.label :oka %><br>
    <%= f.check_box :oka %>
  </div>
  <div class="field">
    <%= f.label :okb %><br>
    <%= f.check_box :okb %>
  </div>
  <div class="field">
    <%= f.label :okc %><br>
    <%= f.check_box :okc %>
  </div>
  <div class="field">
    <%= f.label :okd %><br>
    <%= f.check_box :okd %>
  </div>
  <div class="field">
    <%= f.label :fulldoc_id %><br>
    <%= f.text_field :fulldoc_id %>
  </div>
  <div class="field">
    <%= f.label :singlepart_id %><br>
    <%= f.text_field :singlepart_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
