<p id="notice"><%= notice %></p>

<p>
  <strong>Samplename:</strong>
  <%= @description.samplename %>
</p>

<p>
  <strong>Fulldescribe:</strong>
  <%= @description.fulldescribe %>
</p>

<p>
  <strong>Purification:</strong>
  <%= @description.purification %>
</p>

<p>
  <strong>Rfvalue:</strong>
  <%= @description.rfvalue %>
</p>

<p>
  <strong>Yield:</strong>
  <%= @description.yield %>
</p>

<p>
  <strong>Fill1:</strong>
  <%= @description.fill1 %>
</p>

<p>
  <strong>Fill2:</strong>
  <%= @description.fill2 %>
</p>

<p>
  <strong>Oka:</strong>
  <%= @description.oka %>
</p>

<p>
  <strong>Okb:</strong>
  <%= @description.okb %>
</p>

<p>
  <strong>Okc:</strong>
  <%= @description.okc %>
</p>

<p>
  <strong>Okd:</strong>
  <%= @description.okd %>
</p>

<p>
  <strong>Fulldoc:</strong>
  <%= @description.fulldoc_id %>
</p>

<p>
  <strong>Singlepart:</strong>
  <%= @description.singlepart_id %>
</p>

<%= link_to 'Edit', edit_description_path(@description) %> |
<%= link_to 'Back', descriptions_path %>
