<p id="notice"><%= notice %></p>

<p>
  <strong>Signal:</strong>
  <%= @cnmrbracket.signal %>
</p>

<p>
  <strong>Multiplet:</strong>
  <%= @cnmrbracket.multiplet %>
</p>

<p>
  <strong>Amountc:</strong>
  <%= @cnmrbracket.amountc %>
</p>

<p>
  <strong>Coupling:</strong>
  <%= @cnmrbracket.coupling %>
</p>

<p>
  <strong>Buffera:</strong>
  <%= @cnmrbracket.buffera %>
</p>

<p>
  <strong>Bufferb:</strong>
  <%= @cnmrbracket.bufferb %>
</p>

<p>
  <strong>Countc:</strong>
  <%= @cnmrbracket.countc %>
</p>

<p>
  <strong>Adaptc:</strong>
  <%= @cnmrbracket.adaptc %>
</p>

<p>
  <strong>Oka:</strong>
  <%= @cnmrbracket.oka %>
</p>

<p>
  <strong>Okb:</strong>
  <%= @cnmrbracket.okb %>
</p>

<p>
  <strong>Nmrdetailc:</strong>
  <%= @cnmrbracket.nmrdetailc_id %>
</p>

<p>
  <strong>Cnmr:</strong>
  <%= @cnmrbracket.cnmr_id %>
</p>

<p>
  <strong>Singlepart:</strong>
  <%= @cnmrbracket.singlepart_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cnmrbracket.description_id %>
</p>

<p>
  <strong>Fulldoc:</strong>
  <%= @cnmrbracket.fulldoc_id %>
</p>

<%= link_to 'Edit', edit_cnmrbracket_path(@cnmrbracket) %> |
<%= link_to 'Back', cnmrbrackets_path %>
