<p id="notice"><%= notice %></p>

<p>
  <strong>Signal:</strong>
  <%= @couplingc.signal %>
</p>

<p>
  <strong>Multiplet:</strong>
  <%= @couplingc.multiplet %>
</p>

<p>
  <strong>Amountc:</strong>
  <%= @couplingc.amountc %>
</p>

<p>
  <strong>Coupling:</strong>
  <%= @couplingc.coupling %>
</p>

<p>
  <strong>Buffera:</strong>
  <%= @couplingc.buffera %>
</p>

<p>
  <strong>Bufferb:</strong>
  <%= @couplingc.bufferb %>
</p>

<p>
  <strong>Bufferc:</strong>
  <%= @couplingc.bufferc %>
</p>

<p>
  <strong>Bufferd:</strong>
  <%= @couplingc.bufferd %>
</p>

<p>
  <strong>Oka:</strong>
  <%= @couplingc.oka %>
</p>

<p>
  <strong>Okb:</strong>
  <%= @couplingc.okb %>
</p>

<p>
  <strong>Cnmrbracket:</strong>
  <%= @couplingc.cnmrbracket_id %>
</p>

<p>
  <strong>Nmrdetailc:</strong>
  <%= @couplingc.nmrdetailc_id %>
</p>

<p>
  <strong>Cnmr:</strong>
  <%= @couplingc.cnmr_id %>
</p>

<p>
  <strong>Singlepart:</strong>
  <%= @couplingc.singlepart_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @couplingc.description_id %>
</p>

<p>
  <strong>Fulldoc:</strong>
  <%= @couplingc.fulldoc_id %>
</p>

<%= link_to 'Edit', edit_couplingc_path(@couplingc) %> |
<%= link_to 'Back', couplingcs_path %>
