<p id="notice"><%= notice %></p>

<p>
  <strong>Signal:</strong>
  <%= @nmrdetailh.signal %>
</p>

<p>
  <strong>Area:</strong>
  <%= @nmrdetailh.area %>
</p>

<p>
  <strong>Shift:</strong>
  <%= @nmrdetailh.shift %>
</p>

<p>
  <strong>First:</strong>
  <%= @nmrdetailh.first %>
</p>

<p>
  <strong>Last:</strong>
  <%= @nmrdetailh.last %>
</p>

<p>
  <strong>Hamount:</strong>
  <%= @nmrdetailh.hamount %>
</p>

<p>
  <strong>Fill1:</strong>
  <%= @nmrdetailh.fill1 %>
</p>

<p>
  <strong>Fill2:</strong>
  <%= @nmrdetailh.fill2 %>
</p>

<p>
  <strong>Oka:</strong>
  <%= @nmrdetailh.oka %>
</p>

<p>
  <strong>Okb:</strong>
  <%= @nmrdetailh.okb %>
</p>

<p>
  <strong>Okc:</strong>
  <%= @nmrdetailh.okc %>
</p>

<p>
  <strong>Okd:</strong>
  <%= @nmrdetailh.okd %>
</p>

<p>
  <strong>Fulldoc:</strong>
  <%= @nmrdetailh.fulldoc_id %>
</p>

<p>
  <strong>Singlepart:</strong>
  <%= @nmrdetailh.singlepart_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @nmrdetailh.description_id %>
</p>

<p>
  <strong>Hnmr:</strong>
  <%= @nmrdetailh.hnmr_id %>
</p>

<%= link_to 'Edit', edit_nmrdetailh_path(@nmrdetailh) %> |
<%= link_to 'Back', nmrdetailhs_path %>
