<p id="notice"><%= notice %></p>

<p>
  <strong>Experimental:</strong>
  <%= @singlepart.experimental %>
</p>

<p>
  <strong>Describe:</strong>
  <%= @singlepart.describe %>
</p>

<p>
  <strong>Ea:</strong>
  <%= @singlepart.ea %>
</p>

<p>
  <strong>Hnmr:</strong>
  <%= @singlepart.hnmr %>
</p>

<p>
  <strong>Cnmr:</strong>
  <%= @singlepart.cnmr %>
</p>

<p>
  <strong>Calch:</strong>
  <%= @singlepart.calch %>
</p>

<p>
  <strong>Calcc:</strong>
  <%= @singlepart.calcc %>
</p>

<p>
  <strong>Value:</strong>
  <%= @singlepart.value %>
</p>

<p>
  <strong>Fnmr:</strong>
  <%= @singlepart.fnmr %>
</p>

<p>
  <strong>Pnmr:</strong>
  <%= @singlepart.pnmr %>
</p>

<p>
  <strong>Bnmr:</strong>
  <%= @singlepart.bnmr %>
</p>

<p>
  <strong>Nnmr:</strong>
  <%= @singlepart.nnmr %>
</p>

<p>
  <strong>Mass1:</strong>
  <%= @singlepart.mass1 %>
</p>

<p>
  <strong>Ir:</strong>
  <%= @singlepart.ir %>
</p>

<p>
  <strong>Raman:</strong>
  <%= @singlepart.raman %>
</p>

<p>
  <strong>Mass2:</strong>
  <%= @singlepart.mass2 %>
</p>

<p>
  <strong>Mass3:</strong>
  <%= @singlepart.mass3 %>
</p>

<p>
  <strong>Uv:</strong>
  <%= @singlepart.uv %>
</p>

<p>
  <strong>Givenc:</strong>
  <%= @singlepart.givenc %>
</p>

<p>
  <strong>Givenh:</strong>
  <%= @singlepart.givenh %>
</p>

<p>
  <strong>Fill1:</strong>
  <%= @singlepart.fill1 %>
</p>

<p>
  <strong>Oka:</strong>
  <%= @singlepart.oka %>
</p>

<p>
  <strong>Okb:</strong>
  <%= @singlepart.okb %>
</p>

<p>
  <strong>Okc:</strong>
  <%= @singlepart.okc %>
</p>

<p>
  <strong>Okd:</strong>
  <%= @singlepart.okd %>
</p>

<p>
  <strong>Fulldoc:</strong>
  <%= @singlepart.fulldoc_id %>
</p>

<%= link_to 'Edit', edit_singlepart_path(@singlepart) %> |
<%= link_to 'Back', singleparts_path %>
