<p id="notice"><%= notice %></p>

<p>
  <strong>Signal:</strong>
  <%= @nmrdetailc.signal %>
</p>

<p>
  <strong>Buffer1:</strong>
  <%= @nmrdetailc.buffer1 %>
</p>

<p>
  <strong>Buffer2:</strong>
  <%= @nmrdetailc.buffer2 %>
</p>

<p>
  <strong>Buffer3:</strong>
  <%= @nmrdetailc.buffer3 %>
</p>

<p>
  <strong>Oka:</strong>
  <%= @nmrdetailc.oka %>
</p>

<p>
  <strong>Okb:</strong>
  <%= @nmrdetailc.okb %>
</p>

<p>
  <strong>Cnmr:</strong>
  <%= @nmrdetailc.cnmr_id %>
</p>

<p>
  <strong>Singlepart:</strong>
  <%= @nmrdetailc.singlepart_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @nmrdetailc.description_id %>
</p>

<p>
  <strong>Fulldoc:</strong>
  <%= @nmrdetailc.fulldoc_id %>
</p>

<%= link_to 'Edit', edit_nmrdetailc_path(@nmrdetailc) %> |
<%= link_to 'Back', nmrdetailcs_path %>
