<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cnmr.name %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @cnmr.filename %>
</p>

<p>
  <strong>Partanalysis:</strong>
  <%= @cnmr.partanalysis %>
</p>

<p>
  <strong>Solvent1:</strong>
  <%= @cnmr.solvent1 %>
</p>

<p>
  <strong>Solvent2:</strong>
  <%= @cnmr.solvent2 %>
</p>

<p>
  <strong>Sumc:</strong>
  <%= @cnmr.sumc %>
</p>

<p>
  <strong>Instrument:</strong>
  <%= @cnmr.instrument %>
</p>

<p>
  <strong>Method:</strong>
  <%= @cnmr.method %>
</p>

<p>
  <strong>Pulseprogram:</strong>
  <%= @cnmr.pulseprogram %>
</p>

<p>
  <strong>Temp:</strong>
  <%= @cnmr.temp %>
</p>

<p>
  <strong>Scans:</strong>
  <%= @cnmr.scans %>
</p>

<p>
  <strong>Buffera:</strong>
  <%= @cnmr.buffera %>
</p>

<p>
  <strong>Oka:</strong>
  <%= @cnmr.oka %>
</p>

<p>
  <strong>Okb:</strong>
  <%= @cnmr.okb %>
</p>

<p>
  <strong>Okc:</strong>
  <%= @cnmr.okc %>
</p>

<p>
  <strong>Okd:</strong>
  <%= @cnmr.okd %>
</p>

<p>
  <strong>Singlepart:</strong>
  <%= @cnmr.singlepart_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cnmr.description_id %>
</p>

<p>
  <strong>Fulldoc:</strong>
  <%= @cnmr.fulldoc_id %>
</p>

<%= link_to 'Edit', edit_cnmr_path(@cnmr) %> |
<%= link_to 'Back', cnmrs_path %>
